body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* 平滑字体 */
  -moz-osx-font-smoothing: grayscale;
  /* 平滑字体 */
  /* 允许触摸驱动的平移和拖拽缩放 */
  touch-action: manipulation;
  /* 允许触摸驱动的平移和拖拽缩放 */
  -webkit-text-size-adjust: 100%;
  /* 关闭IOS横屏时，自动调整字体大小的功能 */
  scroll-behavior: smooth;
  /* 平滑滚动 */
  -webkit-overflow-scrolling: touch;
  /* 允许独立滚动区域，解决IOS上的非body元素滚动条滚动时卡顿 */
  box-sizing: border-box;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-tap-highlight-color: transparent;
  /* 覆盖IOS上用户点击连接时的默认高亮颜色 */
  -webkit-highlight-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body .page-wrapper.index-page-wrapper,
body .ant-row.main-wrapper,
body .ant-anchor-wrapper,
body .main-container,
body .prev-next-nav {
  background-color: transparent;
}
body .main-menu-inner .ant-menu {
  background: transparent;
}
body .main-container {
  background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, 0.04) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
}
body table {
  background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(144, 147, 153, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 7px;
  background-color: rgba(144, 147, 153, 0.5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
}
.image-wrap:hover {
  cursor: pointer;
}
/* custom scene transition (slide effect) */
.only-this-gallery.show .spl-scene {
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
/* custom animation "visible state" (css context by custom classname "only-this-gallery" to apply these animation just on a specific gallery) */
.only-this-gallery.show .spl-pane > * {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
  transition: opacity 0.65s ease, -webkit-transform 0.35s ease, -webkit-clip-path 0.8s ease;
  transition: transform 0.35s ease, opacity 0.65s ease, clip-path 0.8s ease;
  transition: transform 0.35s ease, opacity 0.65s ease, clip-path 0.8s ease, -webkit-transform 0.35s ease, -webkit-clip-path 0.8s ease;
}
/* custom animation "hidden state" ("custom" is the name of the animation you pass as gallery option) */
.only-this-gallery .spl-pane .custom {
  -webkit-clip-path: circle(0px at center);
          clip-path: circle(0px at center);
  transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
  transition: transform 0.65s ease, opacity 0.65s ease;
  transition: transform 0.65s ease, opacity 0.65s ease, -webkit-transform 0.65s ease;
}
/* animation state when gallery is hidden */
#spotlight.only-this-gallery {
  -webkit-clip-path: circle(0px at center);
          clip-path: circle(0px at center);
}
/* animation state when gallery will open */
#spotlight.only-this-gallery.show {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
  transition: -webkit-clip-path 0.65s ease 0.15s;
  transition: clip-path 0.65s ease 0.15s;
  transition: clip-path 0.65s ease 0.15s, -webkit-clip-path 0.65s ease 0.15s;
}
.main-container .markdown {
  max-width: 90%;
}
.main-container .markdown img {
  max-width: 100%;
}
.weather-tips-list-warp {
  min-width: 600px;
}
.weather-tips-list {
  padding: 8px 8px 0 8px;
}
.weather-tips-list .item-warp {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 8px;
}
.weather-tips-list .item-warp .item {
  white-space: nowrap;
  padding: 0 8px;
  min-width: 100px;
  text-align: center;
}
.weather-tips-list .item-warp .wea {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
}
.weather-tips-list .item-warp .wea .tips {
  min-width: 80px;
}
.weather-tips-list .item-warp .wea img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

